
<div class="relative overflow-hidden">
  <div class="relative">
    <div id="banner-scroll-container" class="relative w-full flex gap-6 snap-x snap-mandatory overflow-x-auto scrollbar-hide bg-gray-300">
      <div class="snap-center shrink-0" *ngFor="let liga of ligas">
        <a href="" class="shrink-0 w-40  flex items-center justify-center rounded-lg shadow-xl text-black text-md font-medium text-gray-900 hover:text-red-600">
          {{liga.nombre}}
        </a>
      </div>
    </div>
  </div>
</div>


<div class="bg-gray-50 flex items-center">
<section class="bg-cover bg-center py-32 w-full" style="background-image: url('https://brand.assets.adidas.com/image/upload/football_ss24_ar_river_mh_small_plp_t_64bcbe22ac.jpg');">
  <div class="container ml-2 mx-auto text-left text-white">
    <div class="flex items-center">
      <div class="w-1/2">
        <a href="">
          <h1 class="text-5xl font-bold	 mb-6">RIVER PLATE - TERCERA CAMISETA 2024
          </h1>
          
        </a>
      </div>
      </div>
    </div>
</section>
</div>

<app-product-list></app-product-list>
